@model HelloPoint.Models.RegisterViewModel
@{
    ViewBag.Title = "ChangeRolePage";
}
<script type="text/javascript" src="~/Scripts/ManageAdminPage.js"></script>   


<div id="changeRole">
    <h2 id="h2_title">Change Role</h2>
    <h4 id="textMargin">Username:</h4>
    <h4 class="alignLeft" id="username">@ViewBag.Username</h4>
    <div id="setRole">
        <select id="roleselecttag">
            @foreach (var f in ViewBag.AllRoles)
            {
                <option value="@f.Id">@f.Name</option>
            }
        </select>

    </div>
    <button class="btn btn-success" id="apply" onclick="sendNewRole()">Apply</button>
</div>


@Styles.Render("~/Content/Style.css")