
@{

    ViewBag.Title = "Index";

}

<h2>Index</h2>

<ul>
    @foreach (var item in ViewBag.Confirmation)
    {
        <li style="color:deeppink;"> @item.Guid</li>
    }
</ul>




@using(Html.BeginForm("Play","Playlist",FormMethod.Post))
{
    <input type="submit" value="Play" />
}

@using (Html.BeginForm("Pause", "Playlist", FormMethod.Post))
{
    <input type="submit" value="Pause" />
}

@using (Html.BeginForm("Stop", "Playlist", FormMethod.Post))
{
    <input type="submit" value="Stop" />
}

